.div_elm:empty {
    width: 200px;
    height: 200px;
    background-color: green;
}

.div_elm {
    width: 200px;
    height: 200px;
    background-color: blue;
}

h2:target {
    color: blueviolet;
}
