/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
1. Vị trí
2. Kích thước (width, height)  
3. Màu sắc
4. Kiểu dáng (Kiểu chữ, hình tròn, vuông, tam giác,...)
*/

/* 
    Rule
1. Làm từ ngoài vào trong
2. Làm từ trên xuống dưới
3. Làm từ tổng quan đến chi tiết

*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
}

.header {
    height: 46px;
    background-color: #000;
}

.nav {
}

.nav li {
    display: inline-block;
}

.nav li a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
}

.nav li:hover a {
    color: #000;
    background-color: #ccc;
}

.nav .subnav {
    display: none;
}

.subnav {
}

.slider {
}

.content {
}

.footer {
}
