body {
    background: url("https://images.unsplash.com/photo-1732740676396-ece9a9148342?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8") no-repeat;
}

h2 {
    /* opacity: 0.1; */
    /* display: none; */
    visibility: hidden;
    background: blue;
}

span {
    /* opacity: 1; */
    /* display: block; */
    visibility: visible;
}
